{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - SBML Converter</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting started</a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Click to see SBtab Online Tools">
    Online Tools<span class="sr-only">(current)</span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/documentation.html">Documentation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/downloads.html">Download</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>SBtab - SBML Converter</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
	  <p>
	    Information on how to use the SBtab <-> SBML converter can be found in the <a href="https://www.sbtab.net/sbtab/static/files/converter_manual.pdf">manual</a>.
	      The manual also holds information on where the limitations of the conversion processes lie.
	      Information on file formats (.tsv, .csv, .xlsx) can be found in the <a href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Introductory Section</a>.
	  </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
	
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">

  
	<section style="padding-bottom:100px;">
	  <h2>Convert SBtab file/s to SBML file</h2>

	  {{=UPL_FORML}}

	  {{if NAME_LIST_SBTAB:}}
	  {{displayedf = []}}
	  {{displayedg = []}}

          {{for pos2,g in enumerate(DOC_NAMES):}}
	  {{if not g in displayedg:}}
	  <div class="card" style="text-align:center;width:100%;margin-top:20px;">
	    <div class="card-header">
	      SBtab document <strong>{{=g}}</strong>
	      {{displayedg.append(g)}}
              {{if list(NAME2DOC.values()).count(g) > 1:}}
	      {{if "Reaction" in TYPES or "Compound" in TYPES:}}
	      <div class="btn-group btn-group-toggle" style="text-align:center;width:100%;padding-top:10px;">
		<form style="text-align:center;width:100%;padding-top:10px;">
		  <button class="btn" type="submit" value="{{=pos2}}" name="convert_all_button24" valign="top">Convert to SBML 2.4</button>
		  <button class="btn" type="submit" value="{{=pos2}}" name="convert_all_button31" valign="top">Convert to SBML 3.1</button>
		  <button class="btn" type="submit" value="{{=pos2}}" name="remove_all_button">Remove all</button>
		  <button class="btn" type="submit" value="{{=pos2}}" name="download_all_button">Download all</button>
		</form>
	      {{else:}}
		<form>
		  <button class="btn" type="submit" value="{{=pos2}}" name="remove_all_button">Remove all</button>
		  <button class="btn" type="submit" value="{{=pos2}}" name="download_all_button">Download all</button>
		</form>
		{{pass}}
	      </div>
	      {{pass}}
	    </div>

	    <div class="card-body">
	      {{for pos,f in enumerate(NAME_LIST_SBTAB):}}
	      {{if NAME2DOC[f] == g:}}
	      &bull;<a href="show_sbtab/{{=str(pos)}}" target="_new"> {{=f}} </a>
	      {{displayedf.append(f)}}
	      {{if TYPES[pos].capitalize() == 'Reaction' or TYPES[pos].capitalize() == 'Compound':}}
	      <div class="btn-group btn-group-toggle">
		<form style="text-align:center;width:100%;padding-top:10px;">
		  <button class="btn" type="submit" value="{{=pos}}" name="c2sbml_button24">Convert to SBML 2.4</button>
		  <button class="btn" type="submit" value="{{=pos}}" name="c2sbml_button31">Convert to SBML 3.1</button>
		</form>
	      </div>
	      {{pass}}
	      <div class="btn-group btn-group-toggle">
		<form style="text-align:center;width:100%;padding-top:10px;">
		  <button class="btn" type="submit" value="{{=pos}}" name="erase_sbtab_button">Remove</button>
		  <button class="btn" type="submit" value="{{=pos}}" name="dl_sbtab_button">Download</button>
		  <button class="btn" type="submit" value="{{=pos}}" name="dl_xlsx_sbtab_button">Download as .xlsx</button>
		</form>
	      </div>
	      <br>

	      {{pass}}
	      {{pass}}
	      
	    </div>
	  </div>
	  {{pass}}
	  {{pass}}
	  
	  {{else:}}
	  No SBtab files uploaded.
	  {{pass}}

	</section>


	<section>
	  <h2>Convert SBML file to SBtab files</h2>

	  {{=UPL_FORMR}}
	  {{if NAME_LIST_SBML:}}
          {{for pos,f in enumerate(NAME_LIST_SBML):}}
	  <div class="card" style="text-align:center;width:100%;margin-bottom:10px;">
	    <div class="card-body">
	      <a href="show_sbml/{{=str(pos)}}" target="_new"> {{=f}}</a>
	      <div class="btn-group btn-group-toggle">
		<form style="text-align:center;width:100%;padding-top:10px;">
		  <button class="btn" type="submit" value="{{=pos}}" name="c2sbtab_button">Convert to SBtab</button>
		  <button class="btn" type="submit" value="{{=pos}}" name="erase_sbml_button">Remove</button>
		  <button class="btn" type="submit" value="{{=pos}}" name="dl_sbml_button">Download</button>
		</form>
	      </div>
	    </div>
	  </div>
	  {{pass}}
	  {{else:}}
	  No SBML files uploaded
	  {{pass}}
	</section>


	<section style="text-align:left">
	  {{if WARNINGS_CON:}}
	  <strong>Logfile of warnings for conversion:</strong><br>
	  {{if len(WARNINGS_CON)>1:}}
          {{for f in WARNINGS_CON:}} 
	  <font color="#FF0000">&bull; {{=f}}</font><br>
	  {{pass}}
	  {{else:}}
	  <font color="#FF0000">&bull; {{=WARNINGS_CON[0]}}</font>
	  {{pass}}
	</section>

{{pass}}




      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{{end}}










                












