{{extend 'layout2.html'}}

{{=UPL_FORM}}

{{if DEF_NAME:}}
<table>
  <tr>
    {{if not NEW:}}
    <td style="width:650;">The features of SBtab tables, such as column names, are defined by a definition table.
      By editing this table, you can customize the SBtab format and define new table types. Note
      that, when using a new definition table, the predefined definition table will be completely
      overridden, so any tables and columns to be used (also the predefined ones) must be listed
      in the new table. Currently the default definition SBtab is loaded for your session:</td>
    </tr>
    <tr>
    <td> <a href="show_sbtab_def/{{=str(0)}}" target="_new"> {{=DEF_NAME}} </a> </td>
    {{pass}}
    {{if NEW:}}
    <td style="width:650;">You are now using a customized definition table. Please note
      that, when using a new definition table, the predefined definition table will be completely
      overridden, so any tables and columns to be used (also the predefined ones) must be listed
      in the new table. You can always return to the default definition table by simply removing
      your customized definition table.
      </td>
    </tr>
    <tr>
    <td> <a href="show_sbtab_def/{{=str(0)}}" target="_new"> {{=DEF_NAME}} </a> </td>
    </tr>
    <tr>
    <td> <form> <button type="submit" value="{{0}}" name="erase_def_button">Remove</button> </form> </td>
    {{pass}}
  </tr>
</table>
{{pass}}
    <hr>
    <p>
  <a href="../static/index.html">Main</a> | 
  <a href="../static/introduction.html">Getting started</a> |
  <a href="../static/specification.html">Specification</a> |
  <a href="./validator">Validator</a> | 
  <a href="./converter">SBML</a> |
  <a href="./def_files">Customize SBtab</a> |
  <a href="../static/code.html">Code</a> |
  <a href="../static/troubles.html">Troubleshooting</a> |
  <a href="../static/team.html">Contact</a> 

    </p>
