{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - Documentation</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting started</a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Click to see SBtab Online Tools">
    Online Tools
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/documentation.html">Documentation<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/downloads.html">Download</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}

<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <h1><small>Documentation</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">

	<article>
	  <h2>Introduction</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="30%" src="../static/images/sbtab-logo.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:right;margin:20px;">
	  </figure>
	  <p>
	    Welcome to the SBtab documentation. On this page, you can find all information on the SBtab
	    format and how to use it. This includes the <a href="#spec">SBtab specification</a>, which defines the format
	    characteristics in detail. Also, you will find the <a href="#def_file">SBtab definition file</a> that contains all predefined
	    SBtab table types and the corresponding columns and contents. <br>
	    Next to the SBtab specification details, we offer several software tools for the handling of SBtab. These tools
	    can be used online, as Python3, R, or Matlab programming code or as commandline tools. See the
	    <a href="employ">SBtab employment options</a> for more details. Also, visit the
	    <a href="https://github.com/tlubitz/SBtab">SBtab Github page</a> if you are interested in the source code or want to
	    contribute to the project.<br>
	    If you encounter any problems with SBtab or its tools, please consult our Section <a href="#faq">Frequently Asked Questions</a>.
	    Any problems that are not answered in this section, as well as all sorts of positive or negative feedback,
	    are welcome for the <a href="https://www.sbtab.net/sbtab/default/team.html">SBtab team</a>.<br>
	    Finally, numerous SBtab example files can be found in the <a href="https://www.sbtab.net/sbtab/default/downloads.html">Download section</a>
	    and our <a href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting Started Section</a> provides a tutorial for beginners.
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

	

  <div class="container-fluid bg-4 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">
	<article id="spec">
	  <h2>SBtab format specification</h2>
	  <p>
	    <ul class="list-group">
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_1.0_Specification.pdf">SBtab version 1.0</a>
	      </li>
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_0.9_Specification.pdf">SBtab version 0.9</a>
	      </li>
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_0.8_Specification.pdf">SBtab version 0.8</a>
	      </li>
	    </ul>
	  </p>
	  <p>A specification for the current version of SBtab can also be found on <a href="http://arxiv.org/abs/1502.01463">arxiv.org</a>.</p>
	</article>
	
	<article id="def_file">
	  <h2>Definition of SBtab table types</h2>
	  <p>The definition of all predefined SBtab table types, their corresponding columns and contents,
	    can be found in the <a href="https://www.sbtab.net/sbtab/static/documents/definitions.tsv">definitions.tsv</a>.
	    This file can also be employed if you want to define an individual table type for types of data
	    that SBtab does not cover so far. Simply download the definitions, add your table type and the
	    columns to the end of the file, and upload it on the
	    <a href="https://www.sbtab.net/sbtab/default/def_files.html">SBtab customiser</a>. Then, you can
	    validate SBtab files whether they adhere to your individual table type definition on the
	    <a href="https://www.sbtab.net/sbtab/default/validator.html">SBtab validator</a>.
	  </p>
	</article>   
	
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">

	<h1>SBtab Employment Options</h1>

	<p>
	  SBtab and its corresponding tools can be employed in various ways. Some ways
	  are comparably easy for all users, others address programmers and more
	  experienced users. Browse through the options and find your flavour of SBtab.
	</p>
	
	<article>
	  <h2>1. The SBtab Online Interface</h2>
	  <p>
	    The online interface of SBtab allows the
	    <a href="https://www.sbtab.net/sbtab/default/validator.html">validation of SBtab files</a>,
	    the <a href="https://www.sbtab.net/sbtab/default/converter.html">conversion of SBtab to SBML</a>
	    and vice versa, and the <a href="https://www.sbtab.net/sbtab/default/def_files.html">customisation
	    of the SBtab format</a> for individual purposes. These interfaces are easy to use and
	    basically only include file upload/download and the clicks of an overseeable amount of
	    buttons. Our <a href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting Started Section</a>
	    will give you a head start.
	  </p>
	</article>

	<article>
	  <h2>2. Python Code</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="10%" src="../static/images/logo_github.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:right;margin:20px;">
	  </figure>
	  <p>
	    We have implemented SBtab objects (for single tables and documents) and
	    all tools in <a href="https://www.python.org/">Python3</a>. The source code is openly available on the
	    <a href="https://github.com/tlubitz/SBtab">SBtab Github page</a> and
	    we encourage users to contribute to the project. You can embed SBtab
	    objects and tools into your own programming workflows over the
	    interfaces explained on Github.
	  </p>
	</article>	
	
	<article>
	  <h2>3. Python Pip Package</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="15%" src="../static/images/logo_pypi.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:left;margin:20px;">
	  </figure>
	  <p>
	    Python users can install SBtab functionality under Linux systems
	    in form of a <a href="https://pypi.org/project/sbtab/">pip3 package</a>.
	    Simply type <code>sudo pip3 install sbtab</code>
	    in your commandline and the package will be installed. Then, you
	    can import the package in your Python3 scripts via
	    <code>import sbtab</code>. More information can be found on
	    the <a href="https://github.com/tlubitz/SBtab">SBtab Github page</a>.
	  </p>
	</article>
	
	<article>
	  <h2>4. Matlab Code</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="25%" src="../static/images/logo_matlab.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:right;margin:20px;">
	  </figure>
	  <p>
	    Many basic functionalities of SBtab can also be used via
	    <a href="https://www.mathworks.com/products/matlab.html">Matlab</a>. The
	    code can be downloaded from the 
	    <a href="https://github.com/liebermeister/sbtab-matlab">Matlab SBtab Github page</a>.
	    However, please note that this does not encompass the whole functionality of SBtab.
	    Moreover, the Matlab toolbox expects SBtab files to be in tab-separated text format
	    exclusively.
	  </p>
	</article>

	<article>
	  <h2>5. R code</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="20%" src="../static/images/logo_r.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:left;margin:20px;">
	  </figure>
	    <p>
	      We provide a simple interface that allows <a href="https://www.r-project.org/">R users</a> to
	      import the SBtab Python code into their R projects, manipulate SBtab
	      objects, and call Python functions from within the R environment.
	      For this, we  use the rPython library, which needs to be preinstalled to employ the provided code.
	      Alongside these rPython-based approaches, we also translated the
	      creation of an SBtab file document (including one or more SBtabs) from
	      Python directly into the R language. These example files as well
	      as the source code are available on the <a href="https://github.com/tlubitz/SBtab">SBtab Github page</a>.
	      We hope that these elucidations will help R programmers to integrate SBtab
	      files and functionalities into their projects.      
	    </p>
	</article>
	
	<article>
	  <h2>Python-SQlite interface</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="30%" src="../static/images/logo_sqlite.png" alt="SBtab Logo" style="border-style:solid;border-width: 2px;float:right;margin:20px;">
	  </figure>
	  <p>
	    Single or collections of SBtab files can be
	    automatically converted into an <a href="https://www.sqlite.org/index.html">SQLite database</a>, using the package 
	    sqlite_interface within the <a href="https://github.com/tlubitz/SBtab">SBtab GitHub page</a>.
	    This feature can be useful for developers that would like to allow users to upload
	    their data in the form of SBtab into a web service, and using SQL to
	    query the data using standard web development tools.
	  </p>
	</article>
	
	<!--
	<article>
	  <h2>Add-in for Excel</h2>
	  <p>
	    An SBtab add-in for Microsoft Excel, xlSBtab, can be downloaded from 
	    <a href="https://github.com/fbergmann/xlSBtab/releases/download/v1.0/Setup_xlSBtab_1.1.exe"
	       target="_blank">github</a>. See a <a href="https://www.sbtab.net/sbtab/static/images/screenshot.png" target="_blank">screenshot of the plugin</a>.
	  </p>
	  <p>
	    <strong>Installation:</strong> A windows installer will be downloaded to
	    the hard disk and can be started by a click. The prerequisites for
	    using the add-in are:</p>
	  <ol>
	    <li>Windows Vista or higher</li>
	    <li>Microsoft Excel 2010 or higher, 32 Bit</li>
	    <li>Microsoft .NET Framework 4.5 (full) or higher (can be downloaded directly from 
	      <a href="https://www.microsoft.com/en-us/download/details.aspx?id=30653">Microsoft</a>)
	    </li>
	    <li>Microsoft Visual Studio 2010 Tools for Office Runtime (VSTO) (can be downloaded directly from <a href="http://www.microsoft.com/en-us/download/details.aspx?id=48217">Microsoft</a>)
	    </li>
	  </ol>
	  <p>
	    After installation, the SBtab add-in will be automatically initialised
	    upon Excel startup. The tools are accessible by choosing add-ins from
	    the menu bar. The add-in enables users to upload and validate SBtab
	    files. Furthermore, SBtab files can be exported to SBML (as long as
	    they are valid and provide a model structure) and vice versa (see
	    screenshot). If you experience any  troubles installing or using xlSBtab,
	    please  contact us (Frank Bergmann
	    (frank.bergmann@bioquant.uni-heidelberg.de) or Timo Lubitz
	    (timo.lubitz@gmail.com)).
	  </p>
	</article>
	-->
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="container-fluid bg-4 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">	
	<article>
	  <h2>SBtab: Tables or Documents?</h2>
	  <p>
	    SBtabs can contain various sorts of data. Often, it is completely sufficient to
	    have a single table that contains e.g. a list of experimental data values or
	    a list of reactions that you wish to exchange with a colleague or that you want
	    to use as input of a software tool. In these common cases, you would use a simple
	    SBtab table of a corresponding table type <code>Quantity</code> or <code>Reaction</code>.
	    A very small example SBtab table is depicted below.
	  </p>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="95%" src="../static/images/example_sbtab_table.png" alt="SBtab Logo" style="margin:20px;">
	  </figure>
	  <p>
	    Sometimes however, it is more convenient to bundle a set of information or
	    of different data to one larger document. For this purpose you can employ
	    SBtab Documents, which consist of more than one SBtab table. This may come in
	    handy when you have multiple lists of experimental data with different setups
	    but on the same topic. It is even more convenient, when you want to describe
	    on biochemical model consisting of compartments, compounds, reactions, and
	    so on. If you collect the single SBtab tables in one document (e.g.
	    subsequently in a spreadsheet file), they make up one SBtab document. It
	    is good practise to start such a document with a document declaration row,
	    which is preceded with a triple exclamation mark (in contrast to an SBtab
	    table that has a double exclamation mark). Make sure that all TableID attributes
	    of the SBtab tables are unique within one SBtab document as well as all entries
	    of <code>!ID</code> columns. Moreover, keep track of the shortnames in your
	    document, which can e.g. link an entry from a compound SBtab to the reaction
	    formula of a reaction SBtab. See the small example SBtab document depicted below.
	  </p>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="95%" src="../static/images/example_sbtab_document.png" alt="SBtab Logo" style="margin:20px;">
	  </figure>
	  <p>
	    Information for programmers: The underlying Python code thus distinguishes
	    between SBtabTable objects and SBtabDocument objects, where the latter contain
	    one or more of the former.
	  </p>
	  <p>
	    The SBtab software tools usually allow the input of either SBtab tables or
	    SBtab documents. The standard output of the SBML to SBtab converter is a
	    SBtab document consisting of the different model entitie types.
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">	
	<article>
	  <h2>SBML and SBtab</h2>
	  <figure style="margin-bottom:30px;text-align:right;">
	    <img width="25%" src="../static/images/logo_sbml.png" alt="SBtab Logo" style="float:left;margin:20px;">
	  </figure>
	  <p>
	    <strong>SBtab to SBML</strong> The content of some SBtab table types can be converted to the Systems Biology standard
	    format <a href="https://www.sbml.org">SBML</a> with the
	    <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>.
	    These comprise the table types which
	    describe data on model entities, such as <code>Compartment</code>, <code>Compound</code>,
	    <code>Reaction</code>, and <code>Quantity</code>. Please note that SBML model files
	    have rigid rules on their content. E.g., you cannot translate a sole <code>Quantity</code>
	    SBtab to SBML, because SBML requires model entities. In contrast, you are able to
	    convert a sole <code>Compound</code> or a sole <code>Reaction</code> SBtab to SBML,
	    because SBML regards these sorts of data as sufficienct for a valid model. However,
	    during the conversion process to SBML we often have to complement the user data
	    in order to adhere to all SBML restrictions. Examples include the creation of
	    a default compartment (if no compartment information is provided by the user) or
	    the setting of entity attributes to default values (if not provided by the user;
	    e.g. the attribute <code>irreversible</code> for reactions). If we were to omit
	    these complementations, the generated SBML files would be considered invalid. To
	    make these default settings as transparent as possible, we provide detailled information
	    in the <a href="#spec">SBtab specification</a>.
	  </p>
	  <p>
	    <strong>SBML to SBtab</strong> It is also possible to convert SBML files to SBtab files with the
	    <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>. The content of the SBML
	    compartments, species, reactions, and parameters is translated to SBtab files of the
	    corresponding table types. Presenting the data from the SBML files in the SBtab format
	    makes the content human readable in form of simple spreadsheets. Moreover, users can
	    make alterations in the SBtab files and convert them back to SBML, making the
	    SBtab converter an SBML editor by proxy. However, we recommend validating the SBtab
	    syntax after any alterations before you translate them back to SBML. You can use
	    the <a href="https://www.sbtab.net/sbtab/default/validator.html">SBtab validator</a> to do so.
	  </p>
	  <p>
	    <strong>SBML Level 3 Packages</strong> Upon the introduction of version number 3, SBML has introduced a number of
	    <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages">Level 3 Packages</a>
	    to describe specific sorts of data their format definition. Our SBML <->
	      SBtab converter supports conversion of the
	      <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">SBML3 FBC package</a> and a basic
	      version of the <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/layout">SBML3 layout package</a>.
	      For more information please consult the <a href="#spec">SBtab specification</a>.
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  
  <div class="container-fluid bg-4 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">
	<h1>Frequently Asked Questions (FAQ)</h1>
	<article id="faq">
	  <p>
	    In any case of encountered errors or arising questions with this website, its tools, and plugins, please don't hesitate to contact <a href="mailto:timo.lubitz@gmail.com">Timo Lubitz</a>. However, many problems may be sorted out by having a close look to this troubleshooting page. It enlists several troubles that users had and offers solutions.
	  </p>
	</article>

	<article>
	  <h2>How do I make a table file SBtab-compliant?</h2>
	  <p>
	    SBtab tables are normal data tables
	    (spreadsheets or delimited text files), but to enable an easy
	    exchange of data, the tables themselves, in particular column
	    titles, need to respect certain rules. You can make your own table
	    files SBtab-compliant by a number of small changes:
	    <ol>
	      <li>Choose an SBtab table type appropriate for your specific kind of data
		(for a list of predefined table types, see the SBtab specification).</li> 
	      <li>Insert a declaration line (starting with "!!SBtab") as the first line
		of your table and declare the table type by an attribute "TableType='x'"
		in the same line, where 'x' corresponds to a valid table type.</li>
	      <li>You will also need to set a table identifier by adding the attribute
		"TableID='y'" to the first line as well, where 'y' is an arbitrary
		identifier (which must be unique for each table in a SBtab document
		consisting of more than one table).
	      </li>
	      <li>Unique identifers must be given in a
		column "!ID". The elements in this column serve as shortnames,
		to be referenced in other tables, and must therefore be unique
		(e.g., unique gene names). It is good practise to make the "!ID"
		column the first column.
	      </li>
	      <li>
		Each table type has a predefined set of supported columns, which
		can be see in the <a href="#spec">SBtab specification</a> and
		the <a href="#def_file">definitions file</a>. Choose from the list
		for your table type, which columns you want to use. Each column
		must be preceded with an exclamation mark "!" and its content
		must adhere to the data format given in the definitions file.
	      </li>
	      <li>In columns containing biological annotations (e.g., database
		identifiers for chemical compounds), use column names as described
		in the  SBtab specification.
	      </li>
	      <li>
		If you want to create a whole SBtab document instead of a single
		SBtab table, please make sure to be consistent in the usage of
		shortnames and be careful that all IDs are unique within the whole
		document.
	      </li>
	    </ol>
	  <p>To check your SBtab files for correct syntax, 
	    use the <a href="https://www.sbtab.net/sbtab/default/validator">online validator</a>.
	  </p>
	</article>
	
	<article>
	  <h2>I cannot upload and/or convert my SBML file to SBtab.</h2>
	  <p>
	    The SBML to SBtab converter requires SBML code Level 2, Version 4, or higher. Please make sure that your SBML file has the correct file extension (.xml or .sbml) and if this not helps, consult the <a href="http://sbml.org/validator">online SBML validator</a> to ensure that your file is valid SBML.
	  </p>
	</article>
	
	<article>
	  <h2>My SBtab file cannot be uploaded.</h2>
	  <p>
	    SBtab files can be uploaded as long as they have the right file extension. Possible extensions are .csv, .tsv, .xls. However, if you still cannot upload your SBtab file, please consult the SBtab example files that are provided in the <a href="https://www.sbtab.net/sbtab/default/downloads.html">Files Section</a>.
	  </p>
	</article>
	
	<article>
	  <h2>When I open my SBtab file with Excel or LibreOffice, the columns are not separated correctly.</h2>
	  <p>
	    This can happen when the spreadsheet tool does not identify the delimiter of the file correctly. Some version of LibreOffice cannot deal with tsv files; in this case it suffices to rename your file extension from tsv to csv and then it works. In any case, all tools offer the possibility to choose the delimiter for the columns. This happens usually on startup of the software (LibreOffice) or can be chosen via the Text Import Wizard (MS Excel).
	  </p>
	</article>
	
	<article>
	  <h2>My SBtab file cannot be converted to SBML.</h2>
	  <p>
	    Note that not *all* SBtab files can be converted to SBML, they need to contain model structure information. Thus, the conversion requires at least a Reaction or Compound SBtab file. Of course, combinations are feasible, as long as one of these mandatory files is provided. If the conversion still does not work, try and validate the files you are using on the <a href="https://www.sbtab.net/sbtab/default/validator.html">SBtab validator page</a>. If there is no validation warning, but the conversion still does not work, please look at the <a href="https://www.sbtab.net/sbtab/default/downloads.html">SBtab example files</a> and consult the specification. Oftentimes, it can be helpful to view the SBtab file with a text editor instead of Excel/Open Office; this enables the user to see the file completely unformatted and identify possible problems.
	  </p>
	</article>
	
	<article>
	  <h2>The Excel add-in cannot be installed properly.</h2>
	  <p>
	    This can have several reasons. First, verify that all required pre-requisites are fulfilled for the add-in to work (see <a href="https://www.sbtab.net/sbtab/default/documentation.html">add-in page</a>). Then, in Excel you can edit the "SBtab settings" in the SBtab add-in menu. Click the button and make sure that the paths are set correctly: the Python interpreter should be set to the installation directory "xlSBtab/python/python.exe" and the SBtab path should be set to "xlSBtab/SBtab/scripts". The installation directory xlSBtab can usually be found in "/Program Files/" or "/Program Files (x86)/", depending on your system.
	  </p>
	</article>
	
	<article>
	  <h2>I converted SBtab to SBML, but the SBML is invalid.</h2>
	  <p>
	    During the conversion from SBtab to SBML, kinetic laws from the SBtab file can be converted to SBML code. This is a complex process and the kinetic laws provided by the user are not checked for causality: If the user provides erroneous laws, the resulting SBML file will be invalid. The same scenario holds for rules (algebraic, rate, or assignment). In future, SBtab will also comprise validity checks of kinetic laws and rules in SBtabs, but currently this is not the case. By using the <a href="http://sbml.org/validator">SBML online validator</a>, you can always find out which other invalidities an SBML file might hold.
	  </p>
	</article>
	
	<article>
	  <h2>There seems to be a chaos in the submitted SBtab and SBML files in my browser session.</h2>
	  <p>
	    This can happen from time to time while extensive uploading and downloading of files from the server side. Simply click on this <a href="https://www.sbtab.net/sbtab/default/clearsession">clear</a> link to clear all files from your current session and start new.
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">	
	<article>
	  <h2>Citing SBtab</h2>
	  <p>If you are using SBtab, please cite our corresponding publication: <br>
	  <i>Lubitz T., Hahn J., Bergmann F.T., Noor E., Klipp E., Liebermeister W.
	    (2016), SBtab: A flexible table format for data exchange in systems
	    biology,
	      <a href="http://bioinformatics.oxfordjournals.org/content/early/2016/04/08/bioinformatics.btw179.abstract?keytype=ref&ijkey=xiEXADxtPPlY9uz">  Bioinformatics (2016)</a>
	      </i>
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{end}}
