{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - Downloads</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting started</a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Click to see SBtab Online Tools">
    Online Tools
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/documentation.html">Documentation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/downloads.html">Download<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <img class="show-mobile" src="/sbtab/static/images/sbtab-logo.png" alt="SBtab Logo">
      <h1><small>Downloads</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">
	
	<article id="spec">
	  <h2>SBtab format specification</h2>
	  <p>
	    <ul class="list-group">
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_1.0_Specification.pdf">SBtab version 1.0</a>
	      </li>
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_0.9_Specification.pdf">SBtab version 0.9</a>
	      </li>
	      <li class="list-group-item">
		<a href="https://www.sbtab.net/sbtab/static/documents/SBtab_0.8_Specification.pdf">SBtab version 0.8</a>
	      </li>
	    </ul>
	  </p>
	  <p>A specification for the current version of SBtab can also be found on <a href="http://arxiv.org/abs/1502.01463">arxiv.org</a>.</p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="container-fluid bg-4 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">
	<article>
	  <h2>Definition of SBtab table types</h2>
	  <p>The definition of all predefined SBtab table types, their corresponding columns and contents,
	    can be found in the <a href="https://www.sbtab.net/sbtab/static/documents/definitions.tsv">definitions.tsv</a>.
	    This file can also be employed if you want to define an individual table type for types of data
	    that SBtab does not cover so far. Simply download the definitions, add your table type and the
	    columns to the end of the file, and upload it on the
	    <a href="https://www.sbtab.net/sbtab/default/def_files.html">SBtab customiser</a>. Then, you can
	    validate SBtab files whether they adhere to your individual table type definition on the
	    <a href="https://www.sbtab.net/sbtab/default/validator.html">SBtab validator</a>.
	  </p>
	</article>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">
    <div class="row" align="left">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 textblockleft">

	<h1>SBtab Example Files</h1>
	
	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 1:</strong>
	    The first two reactions of yeast
	    glycolysis. <br>Entire model in one file:
	  </p>
	  
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_model.tsv">Hynne Model</a>
	    </li>
	  </ol>
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    Tables in separate files:
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_compartment.tsv">Hynne Compartment</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_compound.tsv">Hynne Compound</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_enzyme.tsv">Hynne Enzyme</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_quantity_concentration.tsv">Hynne Concentrations</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_quantity_parameters.tsv">Hynne Parameters</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/hynne/hynne_reaction.tsv">Hynne Reaction</a>
	    </li>
	  </ol>
	  <p>
	    The two reactions stem from a model of yeast
	    glycolysis, published in Hynne et al. (2001), Full-scale model of
	    glycolysis in Saccharomyces cerevisiae (Biophys. Chem. (1-2):
	    121-163). The original SBML file has been retrieved from
	    <a href="https://www.ebi.ac.uk/biomodels-main/BIOMD0000000061">Biomodels Database</a> and been converted into SBtab tables.
	  </p>

	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 2:</strong>
	    Structural model of the Lactose Operon as Gene and Regulator SBtabs.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/lac_operon/LacOperon_Gene.tsv">Lactose Operon Gene</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/lac_operon/LacOperon_Regulator.tsv">Lactose Operon Regulator</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 3:</strong>
	    Structure of the feed-forward loop as Relationship SBtab.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/feed_forward_loop_Relationship.tsv">Feed-Forward Loop</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 4:</strong>
	    Standard Gibbs free energies of reactions for chemical 
	    reactions listed in the KEGG database. The values have been computed using the  
	    <a href="http://equilibrator.weizmann.ac.il/">eQuilibrator</a> web tool and are presented as Quantity SBtab.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/kegg_reactions_CC_ph70_quantity.tsv">KEGG Reactions (PH7)</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 5:</strong>
	    Yeast transcriptional interactions, adopted from 
	    <a href="http://bioinformatics.oxfordjournals.org/content/24/11/1349.full#ref-16">Chang et al. (2008)</a> and presented as Relationship SBtab.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/yeast_transcription_network_chang_2008_relationship.tsv">Yeast Transcription Network by Chang, 2008</a>
	    </li>
	  </ol>
	  </dvi>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 6:</strong>
	    A collection of example SBtabs with several different table types appearing in the 
	    <a href="#spec">SBtab specification</a>
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/SBtab_specification_example_tables.tsv">SBtab Example Tables</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 7:</strong>
	    The glycolysis model of Teusink et al. (2000) in SBtab representation. The SBML model was taken from the <a href="http://www.ebi.ac.uk/biomodels-main/">BioModels Database</a>
	    and translated to SBtab with our <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>.
	    The origins of the collected data are given in the reference column of the Quantity SBtab.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/teusink/teusink_modeldata.tsv">Teusink Model</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/teusink/teusink_data.tsv">Teusink Data</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 8: Pancreatic Beta Cell Model</strong>
	    Jiang's model of the glucose-stimulated secretion system in pancreatic beta cells
	    (Jiang et al.,2007) is one of the largest kinetic models in <a href="http://www.ebi.ac.uk/biomodels-main/">BioModels Database</a>.
	    The SBML model was translated to SBtab with our <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>.
	    The origins of the collected data are given in the reference column of the Quantity SBtab.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/jiang/jiang_modeldata.tsv">Jiang Model</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/jiang/jiang_data.tsv">Jiang Data</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 9: E.coli Model Noor</strong>
	    Noor's model of E.coli (2016).
	    The original SBML model was translated to SBtab with our <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/ecoli/ecoli_noor_2016_model.tsv">Noor E.coli Model</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/ecoli/ecoli_noor_2016_data.tsv">Noor E.coli Data</a>
	    </li>
	  </ol>
	  </div>
	</article>

	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 10: E.coli Model Wortel</strong>
	    Wortel's model of E.coli (2018).
	    The original SBML model was translated to SBtab with our <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>.
	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/ecoli/ecoli_wortel_2018_model.tsv">Wortel E.coli Model</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/ecoli/ecoli_wortel_2018_data.tsv">Wortel E.coli Data</a>
	    </li>
	  </ol>
	  </div>
	</article>
	
	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 11: Translation of SBML Level 3 FBC Package</strong>
	    We have exemplified the translation of the content of SBML3 FBC package to SBtab with the Genome-scale metabolic model of Mus Musculus by
	    Sigurdsson et al. (2010). The model is taken from the <a href="http://www.ebi.ac.uk/biomodels-main/">BioModels Database</a>
	    and translated to SBtab with our <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>. The conversion yields
	    an SBtab document consisting of the SBtabs <code>Compartment</code>, <code>Compound</code>, <code>Reaction</code>, <code>Quantity</code>,
	    <code>FbcObjective</code>, and <code>Gene</code>. The FBC information extracted from the SBML is comprised in the <code>FbcObjective</code>
	    and <code>Gene</code> SBtabs, as well as in additional fbc columns of <code>Compound</code> and <code>Reaction</code>. For details, see
	    the <a href="#spec">SBtab specification</a>.

	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/sigurdsson/sigurdsson_model.xml">Sigurdsson FBC Model SBML</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/sigurdsson/sigurdsson_model.tsv">Sigurdsson FBC Model SBtab</a>
	    </li>
	  </ol>
	  </div>
	</article>
	
	<article>
	  <div class="example_box">
	  <p style="margin-bottom:0px;padding-bottom:0px;">
	    <strong>Example 12: Translation of SBML Level 3 Layout Package</strong>
	    We have exemplified the translation of the content of SBML3 Layout package to SBtab with a small test SBML model consisting of
	    two reactions, two species, and corresponding layout information. The model was translated to SBtab with our
	    <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML Converter</a>. The conversion yields
	    an SBtab document consisting of the SBtabs <code>Compartment</code>, <code>Compound</code>, <code>Reaction</code>, and <code>Layout</code>.
	    The layout information extracted from the SBML is comprised in the <code>Layout</code> SBtab.
	    For details, see the <a href="#spec">SBtab specification</a>.

	  </p>
	  <ol>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/layout/layout_model.xml">Layout Example Model SBML</a>
	    </li>
	    <li>
	      <a href="https://www.sbtab.net/sbtab/static/files/example_files/layout/layout_model.tsv">Layout Example Model SBtab</a>
	    </li>
	  </ol>
	  </div>
	</article>	

	
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>


  
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{end}}
