{{extend 'layout2.html'}}

{{block title}}
<title>SBtab - Standardised data tables for Systems Biology</title>
{{end}}

{{block dynamic_nav}}
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting started</a>
</li>
<li class="nav-item dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Click to see SBtab Online Tools">
    Online Tools
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="https://www.sbtab.net/sbtab/default/validator.html">Validator</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>
    </li>
    <li>
      <a href="https://www.sbtab.net/sbtab/default/def_files.html">Customize SBtab</a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/documentation.html">Documentation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/downloads.html">Download</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://www.sbtab.net/sbtab/default/team.html">Contact</a>
</li>
{{end}}

{{block center}}
<header>
  <div class="container-fluid bg-1 text-center">
    <div class="jumbotron" align="center">
      <img src="/sbtab/static/images/sbtab-logo.png" alt="SBtab Logo">
      <h1><small>Conventions for structured data tables in Systems Biology</small></h1>
    </div>
  </div>
</header>

<main>
  <div class="container-fluid bg-3 text-center" style="padding-top:30px;">
    <div class="row" align="left">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 textblock">
	<p>
	  Systems Biologists combine data and models from various sources. Data
	  often come in the form of spreadsheet or table files. SBtab is a set of
	  syntax rules and conventions that simplify data processing and thereby
	  facilitate data exchange. The conventions include, for example, defined
	  column names and a syntax for semantic annotations. Models can be
	  automatically interconverted between SBtab and SBML.</p>
	<p>
	  On this website, we present <a class="inline_link" href="https://www.sbtab.net/sbtab/default/documentation.html">SBtab
	    in detail</a> and offer a range of online tools (such as the
	  <a class="inline_link" href="https://www.sbtab.net/sbtab/default/validator.html">SBtab validator</a>, an
	  <a class="inline_link" href="https://www.sbtab.net/sbtab/default/converter.html">SBML converter</a>, and the
	  <a class="inline_link" href="https://www.sbtab.net/sbtab/default/def_files.html">SBtab customiser</a>),
	  as well as a variety of <a class="inline_link" href="https://www.sbtab.net/sbtab/default/downloads.html">example files</a>.
	  If you have not worked with SBtab before, please have a look at
	  <a class="inline_link" href="https://www.sbtab.net/sbtab/default/gettingstarted.html">Getting Started</a>.
	  </p>
	

      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{{end}}
