{{extend 'layout2.html'}}
<p>
Information on how to use the SBtab <-> SBML converter can be found in the <a href="/sbtab/static/files/converter_manual.pdf">manual</a>.<br>
Information on file formats (.csv, .xls) can be found <a href="http://www.sbtab.net/introduction.html">here</a>.
</p>
<hr>
<h2>Convert SBtab file/s to SBML file</h2>

{{=UPL_FORML}}


{{if NAME_LIST_SBTAB:}}

{{displayedf = []}}
{{displayedg = []}}

<table border="0">
  {{for pos2,g in enumerate(DOC_NAMES):}}
  {{for pos,f in enumerate(NAME_LIST_SBTAB):}}
  {{if NAME2DOC[f] == g:}}
  {{pass}}
  {{pass}}

    {{if not g in displayedg:}}
    <table border="1" rules="rows">
      <td bgcolor="#87CEFA">
      
        SBtab document
        <b>{{=g}}</b>
      </td>
      
      {{if DOC_NAMES.count(g)>1:}}
      {{if "Reaction" in TYPES or "Compound" in TYPES:}}
      <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="convert_all_button" valign="top">Convert to SBML</button> </td> </form>
      <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="remove_all_button">Remove all</button> </td> </form>
      <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="download_all_button">Download all</button> </td> </form>
      {{else:}}
      <td bgcolor="#87CEFA"></td>
      <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="remove_all_button">Remove all</button> </td> </form>
      <form><td bgcolor="#87CEFA"><button type="submit" value="{{=pos2}}" name="download_all_button">Download all</button> </td> </form>
      {{pass}}
      {{else:}}
      </td>
      <td bgcolor="#87CEFA"></td>
      <td bgcolor="#87CEFA"></td>
      <td bgcolor="#87CEFA"></td>
      {{pass}}


    {{for pos,f in enumerate(NAME_LIST_SBTAB):}}
    {{if NAME2DOC[f] == g:}}
	    <tr>
	      <td>
		&bull;
		<a href="/sbtab/default/show_sbtab/{{=str(pos)}}" target="_new"> {{=f}} </a>
	      </td>
	      {{if TYPES[pos].capitalize() == 'Reaction' or TYPES[pos].capitalize() == 'Compound':}}
	      <form><td>  <button type="submit" value="{{=pos}}" name="c2sbml_button">Convert to SBML</button> </td> </form>
	      {{else:}}
	      <td></td>
	      {{pass}}
	      <form><td> <button type="submit" value="{{=pos}}" name="erase_sbtab_button">Remove</button> </td> </form>
	      <form><td> <button type="submit" value="{{=pos}}" name="dl_sbtab_button">Download</button> </td> </form>
{{displayedf.append(f)}}
{{displayedg.append(g)}}
{{pass}}
{{pass}}
{{pass}}
</tr>
{{pass}}
</table>
<br>
</table>
{{else:}}
<table border="0">
<td>
No SBtab files uploaded.
</td>
</table>
<hr>
{{pass}}



<h2>Convert SBML file to SBtab files</h2>
{{=UPL_FORMR}}
{{if NAME_LIST_SBML:}}
<table border="1" rules="rows">
{{for pos,f in enumerate(NAME_LIST_SBML):}} 
  <tr> 
    <td> <a href="/sbtab/default/show_sbml/{{=str(pos)}}" target="_new"> {{=f}}</td> 
     <form> <td> <button type="submit" value="{{=pos}}" name="c2sbtab_button">Convert to SBtab</button> </td></form>
     <form> <td>  <button type="submit" value="{{=pos}}" name="erase_sbml_button">Remove</button></td> </form>
     <form> <td>  <button type="submit" value="{{=pos}}" name="dl_sbml_button">Download</button></td> </form>
  </tr>
{{pass}}
</table>
{{else:}}
<tr>No SBML files uploaded</tr>
{{pass}}


{{if EXWARNING:}}
<br><br>
<b>Logfile of warnings for conversion:</b>
<br>

<table border="0">
{{if len(EXWARNING)>1:}}
{{for f in EXWARNING:}} 
  <tr> 
    <td><font color="#FF0000">&bull; {{=f}}</font></td> 
  </tr>
{{pass}}
</table>
{{else:}}
<tr>
    <td><font color="#FF0000">&bull; {{=EXWARNING[0]}}</font></td>
</tr>
</table>
{{pass}}
{{pass}}
    <hr>
    <p>
      <a href="http://www.sbtab.net/index.html">Main</a> | 
      <a href="http://www.sbtab.net/introduction.html">Getting started</a> |
      <a href="http://www.sbtab.net/specification.html">Documentation</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/validator">Validator</a> | 
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/converter">SBML</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/def_files">Customize</a> |
      <a href="http://www.sbtab.net/code.html">Code</a> |
      <a href="http://www.sbtab.net/team.html">Contact</a> 
    </p>









