{{extend 'layout2.html'}}
<p>Information on how to use the SBtab <-> SBML converter can be found in the <a href="/sbtab/static/files/converter_manual.pdf">manual</a>.</p>
<hr>
<h2>Convert SBtab file/s to SBML file</h2>

{{=UPL_FORML}}


{{if NAME_LIST_SBTAB:}}
{{reaction = False}}

{{displayedf = []}}
{{displayedg = []}}
<hr>
<table>
  {{for pos2,g in enumerate(DOC_NAMES):}}
  {{for pos,f in enumerate(NAME_LIST_SBTAB):}}
  {{if NAME2DOC[f] == g:}}
  {{if TYPES[pos].capitalize() == 'Reaction':}}
  {{reaction = True}}
  {{pass}}
  {{pass}}
  {{pass}}

    {{if not g in displayedg:}}
    <td>
      <br>SBtab document
      <b>{{=g}}</b>
      {{if DOC_NAMES.count(g)>1 and "Reaction" in TYPES:}}
      <td><form> <button type="submit" value="{{=pos2}}" name="convert_all_button">Convert to SBML</button> </form> </td>
      {{pass}}
    </td>
    {{for pos,f in enumerate(NAME_LIST_SBTAB):}}
    {{if NAME2DOC[f] == g:}}
	    <tr>
	      <td>
		&bull;
		<a href="/sbtab/default/show_sbtab/{{=str(pos)}}" target="_new"> {{=f}} </a>
	      </td>
	      {{if TYPES[pos].capitalize() == 'Reaction':}}
	      {{reaction = True}}
	      <td> <form> <button type="submit" value="{{=pos}}" name="c2sbml_button">Convert to SBML</button> </form> </td>
	      {{else:}}
	      <td></td>
	      {{pass}}
	      <td> <form> <button type="submit" value="{{=pos}}" name="erase_sbtab_button">Remove</button> </form> </td>
	      <td> <form> <button type="submit" value="{{=pos}}" name="dl_sbtab_button">Download</button> </form> </td>
{{displayedf.append(f)}}
{{displayedg.append(g)}}
{{pass}}
{{pass}}
{{pass}}
</tr>
{{pass}}
</table>
{{else:}}
<table>
<td>
No SBtab files uploaded.
</td>
</table>
{{pass}}


<hr>
<br>

<h2>Convert SBML file to SBtab files</h2>
{{=UPL_FORMR}}
{{if NAME_LIST_SBML:}}
<hr>
<table>
{{for pos,f in enumerate(NAME_LIST_SBML):}} 
  <tr> 
    <td><a href="/sbtab/default/show_sbml/{{=str(pos)}}" target="_new"> {{=f}}</td> 
    <td> <form> <button type="submit" value="{{=pos}}" name="c2sbtab_button">Convert to SBtab</button> </form> </td>
    <td> <form> <button type="submit" value="{{=pos}}" name="erase_sbml_button">Remove</button> </form> </td>
    <td> <form> <button type="submit" value="{{=pos}}" name="dl_sbml_button">Download</button> </form> </td>
  </tr>
{{pass}}
</table>
{{else:}}
<tr>No SBML files uploaded</tr>
{{pass}}


{{if EXWARNING:}}
<br><br>
<b>Logfile of warnings for conversion:</b>

<table>
{{if len(EXWARNING)>1:}}
{{for f in EXWARNING:}} 
  <tr> 
    <td>{{=f}}</td> 
  </tr>
{{pass}}
</table>
{{else:}}
<tr>
{{=EXWARNING[0]}}
</tr>
</table>
{{pass}}
{{pass}}
    <hr>
    <p>
      <a href="http://www.sbtab.net/index.html">Main</a> | 
      <a href="http://www.sbtab.net/introduction.html">Getting started</a> |
      <a href="http://www.sbtab.net/specification.html">Documentation</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/validator">Validator</a> | 
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/converter">SBML</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/def_files">Customize</a> |
      <a href="http://www.sbtab.net/code.html">Code</a> |
      <a href="http://www.sbtab.net/team.html">Contact</a> 
    </p>









