{{extend 'layout2.html'}}
{{=UPL_FORM}}
{{if DEF_NAME:}}
<table>
{{for pos,f in enumerate(DEF_NAME):}}
  <tr>
    {{if not NEW:}}
    <td>The features of SBtab tables, such as column names, are defined by a definition table. By editing this table, you can customize the SBtab format and define new table types. Currently the default definition SBtab is loaded for your session:</td>
    <td> <a href="/sbtab/default/show_sbtab_def/{{=str(pos)}}" target="_new"> {{=f}} </a> </td>
    {{pass}}
    {{if NEW:}}
    <td> <a href="/sbtab/default/show_sbtab_def/{{=str(pos)}}" target="_new"> {{=f}} </a> </td>
    <td> <form> <button type="submit" value="{{=pos}}" name="erase_def_button">Remove</button> </form> </td>
    {{pass}}
  </tr>
{{pass}}
</table>
{{else:}}
{{pass}}
    <hr>
    <p>
      <a href="http://www.sbtab.net/index.html">Main</a> | 
      <a href="http://www.sbtab.net/introduction.html">Getting started</a> |
      <a href="http://www.sbtab.net/specification.html">Documentation</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/validator">Validator</a> | 
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/converter">SBML</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/def_files">Customize</a> |
      <a href="http://www.sbtab.net/code.html">Code</a> |
      <a href="http://www.sbtab.net/team.html">Contact</a> 
    </p>
