{{extend 'layout2.html'}}
{{=UPL_FORM}}
{{if DEF_NAME:}}
<table>
{{for pos,f in enumerate(DEF_NAME):}}
  <tr>
    <td>{{=f}}</td>
    <td> <form> <button type="submit" value="{{=pos}}" name="erase_def_button">Remove</button> </form> </td>
  </tr>
{{pass}}
</table>
{{else:}}
Currently the default definition SBtab is loaded for your session.
{{pass}}


    <hr>
    <p>
      <a href="http://www.sbtab.net/index.html">Main</a> | 
      <a href="http://www.sbtab.net/introduction.html">Getting started</a> |
      <a href="http://www.sbtab.net/specification.html">Specification</a> |
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/validator">Validation</a> | 
      <a href="http://rumo.biologie.hu-berlin.de/SBtab/default/converter">Conversion</a> |
      <a href="http://www.sbtab.net/code.html">Code</a> |
      <a href="http://www.sbtab.net/team.html">Contact</a> 
    </p>





