{{extend 'layout2.html'}}
<p>If you have troubles using the SBtab validator, please consult our short <a href="/static/files/validator_manual.pdf">manual</a>.</p>

{{=UPL_FORM}}

{{if NAME_LIST:}}

{{displayedf = []}}
{{displayedg = []}}
<hr>
<table>
  {{for pos2,g in enumerate(DOC_NAMES):}}
    {{if not g in displayedg:}}
    <td>
      SBtab files that belong to the document
      <b>{{=g}}</b>
    </td>
    {{for pos,f in enumerate(NAME_LIST):}}
    {{if NAME2DOC[f] == g:}}
    {{sbtab = str(SBTAB_LIST[0])}}
	    <tr>
	      <td>
		&bull;
		  <!--<a onclick='help_click(help1, 'string')'>-->{{=f}}</a>  <!--<div id="help1"></div> -->
	      </td>
	      <td> <form> <button type="submit" value="{{=pos}}" name="validate_button">Validate</button> </form> </td>
	      <td> <form> <button type="submit" value="{{=pos}}" name="erase_button">Remove</button> </form> </td>
	    </tr>
	    <!--	      <a onclick='help_click(help1, "Additional text for title 1")'>Blablabla</a> Title 1 <div id="help1"></div>

	    <div class="click" onclick="help_click(help1)" style="margin-left:10px;color:red;display:inline;">Quick overview of SBtab format</div>. 
	    <div id="help1" style="width:700px;display:none">
	      <h2>SBtab files</h2>
	    </div> -->




{{displayedf.append(f)}}
{{displayedg.append(g)}}
{{pass}}
{{pass}}
{{pass}}
{{pass}}
</table>
{{else:}}
<table>
<td>
No SBtab files uploaded.
</td>
</table>
{{pass}}


{{if V_OUTPUT:}}

<b>File validation of
{{=SBTAB2VAL}}:</b>

<table>
{{for f in V_OUTPUT:}} 
  <tr> 
    <td>{{=f}}</td> 
  </tr>
{{pass}}
</table>
{{elif EXWARNING:}}
<table>
<tr>
<td>
<b>{{=EXWARNING}}</b>
</td>
</tr>
</table>
{{else:}}
<table>
<td>
No warnings detected.
</td>
</table>

{{pass}}

<!--{{=V_OUTPUT}}-->

<hr>
<p>
  <!-- <a href="../static/introduction.html">Back to main page</a> -->
  <a href="http://www.sbtab.net">Back to main page</a>
</p>
