/* css stylesheet for proteomap web pages */

body {background-color:#ffffff; color: #404040; font-size: 14px}

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i { font-family:Arial,sans-serif; }

h1 { font-size:30px; margin-bottom:26px; }

h2 { font-size:21px; margin-bottom:18px; }

h3 { font-size:18px; }

h4 { font-size:14px; }

p {color: #202020; font-size:14px; "Arial,Helvetica";  text-align:justify; margin-left:10px; width:720px;}

p.short {width:640px;}

ul,ol,li,div,td,th,address,blockquote { color: #404040; font-size:14px; "Arial,Helvetica"; }

table {color: #404040; font-face: "Arial,Helvetica"; font-size: 14px}

td {color: #000000; font-face: "Arial,Helvetica"; font-size: 14px}

ol {list-style-type:circle;}

ul {list-style-type:circle;}

li { margin-top:3px;}

pre { font-family:Courier New,Courier; font-size:14px; color:#000000; }

code,kbd,tt { font-family:Courier New,Courier; color:#000000; }

var { font-style:normal; color:#000000; }

blockquote,cite { font-style:italic; }

a {text-decoration:none; color:#ff3300; }

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; text-decoration:line-through; }


/* for mobile devices */

@media screen and (max-width: 1000px){
body {color: #000000; margin-left:20px;}
p  { font-size: 2em; width:900px;}
p.short {width:750px;}
table  { width:900px;}
li { width:900px;}
a.scale {font-size: 2em; }
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 2em; }
h4 { font-size: 2em; }
li { font-size: 2em; }
mytext   { font-size: 2em;}
myunscale { font-size: 0.5em;}
mydownscale { font-size: 0.7em;}
}
