/* 1st: Mobile Version: */
html {
    overflow-y: scroll;
}

body {
    background-color:#ffffff;
    color: #404040;
    font-size: 14px;
}

.nav-container {
    box-sizing:content-box;
    float:right!important;
    text-align:right;
}

h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
    font-family:Arial,sans-serif;
}

h1 {
    font-size:30px;
    margin-bottom:26px;
    text-align:center;
}

h2 {
    font-size:21px;
    margin-bottom:18px;
}

h3 {
    font-size:18px;
}

h4 {
    font-size:14px;
}

p {
    color: #202020;
    font-size:14px; "Arial,Helvetica";
    text-align:justify;
    margin-left:10px;
    margin-right:10px;
    line-height:2;
}

ol {
    color: #202020;
    font-size:14px; "Arial,Helvetica";
    text-align:justify;
    margin-left:10px;
    line-height:2;
}

.navbar-brand {
    display:none;
}

.example_box {
    bgcolor:grey;
    border-style:solid;
    border-width:1px;
    background: #E2E2E2;
    padding:30px;
}

.bg-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg-4 {
    background-color: #E2E2E2;
    padding-top: 50px;
    padding-bottom: 30px;
}

.bg-primary {
    background-color:transparent!important;
    float:right!important;
    position:sticky!important;
    margin-bottom:0;
}

.inline_link {
    font-size:15px!important;
}
.dropdown {
    padding-top:15px;
}
ul_text {
    text-decoration:underline;
}
p.short {
    width:640px;
}
td, th {
    color: #404040;
    font-size:12px;
    "Arial,Helvetica";
}
ul,ol,li,div,address,blockquote {
    color: #404040;
    font-size:14px;
    "Arial,Helvetica";
}

table {
    color: #404040;
    font-face: "Arial,Helvetica";
    font-size: 14px
}
td {
    color: #000000;
    font-face: "Arial,Helvetica";
    font-size: 12px
}
ol {
    list-style-type:circle;
}
ul {
    list-style-type:circle;
}
li {
    margin-top:3px;
}
pre {
    font-family:Courier New,Courier;
    font-size:14px;
    color:#000000;
}
code,kbd,tt {
    font-family:Courier New,Courier;
    color:#000000;
}
var {
    font-style:normal;
    color:#000000;
}
blockquote,cite {
    font-style:italic;
}
a {
    text-decoration:none;
    color:#ff4400;
}
ins {
    color:#009900;
    font-weight:bold;
    text-decoration:none;
}
del {
    color:#990000;
    font-weight:bold;
    text-decoration:line-through;
}
.jumbotron {
    margin-top:20px;
}
  

.jumbotron > img {
    width:20%;
}

.show-mobile {
    display:block;
}

.hide-mobile {
    display:none;
}

.mr-auto > li {
    padding-left: 20px;
}
.textblock {
    margin-right:15px;
}

.textblock p {
    text-align:left;
    font-size: 16px;
    line-height:1.4;
    padding-bottom:15px;
    width:100%;
}
.textblockleft p {
    text-align:left;
    font-size: 16px;
    line-height:1.4;
    padding-bottom:15px;
    width:100%;
}
.textblock > p > a {
    text-align:center;
    font-size: 20px;
    line-height:1.4;
    padding-bottom:15px;
    color: #ff4400;
}
article > h2 {
    text-align:center;
}
article > p {
    text-align:left;
    width:100%;
}
article {
    padding-bottom:50px;
}
.mb-1 {
    padding-bottom:20px;
    width:100%;
}
#no_table_File__row > td {
    width:100%;
    height: 30px;
}
.w2p_fl {
    width:50% !important;
    text-align:right;
    padding-right: 5px;
}
.w2p_fw {
    text-align:left;
    width:50% !important;
}
#submit_record__row {
    text-align:left;
    width:100%;
}
.btn {
  color: #fff;
  background-color: #120a8f;
  border-color: #120a8f;
}
.nav-btn {
    background-color: lightgrey;
    margin-right:10px;
}
.navbar-collapse {
    background-color:white;
}

.card {
    text-align:center;
    width:100px;
}



/* 2nd: Tablet Version: */
@media only screen and (min-width: 600px) {
    html {
	overflow-y: scroll;
    }

    body {
	background-color:#ffffff;
	color: #404040;
	font-size: 14px;
    }

    .nav-container {
	box-sizing:content-box;
	float:right!important;
	text-align:right;
    }

    h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
	font-family:Arial,sans-serif;
    }

    h1 {
	font-size:30px;
	margin-bottom:26px;
	text-align:center;
    }

    h2 {
	font-size:21px;
	margin-bottom:18px;
    }

    h3 {
	font-size:18px;
    }

    h4 {
	font-size:14px;
    }

    p {
	color: #202020;
	font-size:14px; "Arial,Helvetica";
	text-align:justify;
	margin-left:10px;
	margin-right:10px;
	line-height:2;
    }

    ol {
	color: #202020;
	font-size:14px; "Arial,Helvetica";
	text-align:justify;
	margin-left:10px;
	line-height:2;
    }

    .navbar-brand {
	display:none;
    }

    .example_box {
	bgcolor:grey;
	border-style:solid;
	border-width:1px;
	background: #E2E2E2;
	padding:30px;
    }

    .bg-3 {
	padding-top: 0px;
	padding-bottom: 0px;
    }

    .bg-4 {
	background-color: #E2E2E2;
	padding-top: 50px;
	padding-bottom: 30px;
    }

    .bg-primary {
	background-color:transparent!important;
	float:right!important;
	position:sticky!important;
	margin-bottom:0;
    }

    .inline_link {
	font-size:15px!important;
    }
    .dropdown {
	padding-top:15px;
    }
    ul_text {
	text-decoration:underline;
    }
    p.short {
	width:640px;
    }
    td, th {
	color: #404040;
	font-size:12px;
	"Arial,Helvetica";
    }
    ul,ol,li,div,address,blockquote {
	color: #404040;
	font-size:14px;
	"Arial,Helvetica";
    }

    table {
	color: #404040;
	font-face: "Arial,Helvetica";
	font-size: 14px
    }
    td {
	color: #000000;
	font-face: "Arial,Helvetica";
	font-size: 12px
    }
    ol {
	list-style-type:circle;
    }
    ul {
	list-style-type:circle;
    }
    li {
	margin-top:3px;
    }
    pre {
	font-family:Courier New,Courier;
	font-size:14px;
	color:#000000;
    }
    code,kbd,tt {
	font-family:Courier New,Courier;
	color:#000000;
    }
    var {
	font-style:normal;
	color:#000000;
    }
    blockquote,cite {
	font-style:italic;
    }
    a {
	text-decoration:none;
	color:#ff4400;
    }
    ins {
	color:#009900;
	font-weight:bold;
	text-decoration:none;
    }
    del {
	color:#990000;
	font-weight:bold;
	text-decoration:line-through;
    }
    .jumbotron {
	margin-top:20px;
    }


    .jumbotron > img {
	width:20%;
    }

    .show-mobile {
	display:block;
    }

    .hide-mobile {
	display:none;
    }

    .mr-auto > li {
	padding-left: 20px;
    }
    .textblock {
	margin-right:17%;
	margin-left:20%;
	flex-basis:60%;
	max-width:60%;
    }
    .textblockleft {
	margin-right:17%;
	margin-left:20%;
	flex-basis:60%;
	max-width:60%;
    }
    .textblock p {
	text-align:left;
	font-size: 16px;
	line-height:1.6;
	padding-bottom:15px;
	width:100%;
    }
    .textblockleft p {
	text-align:left;
	font-size: 16px;
	line-height:1.6;
	padding-bottom:15px;
	width:100%;
    }
    .textblock > p > a {
	text-align:center;
	font-size: 20px;
	line-height:1.6;
	padding-bottom:15px;
	color: #ff4400;
    }
    article > h2 {
	text-align:center;
    }
    article > p {
	text-align:left;
	width:100%;
    }
    article {
	padding-bottom:50px;
    }
    .mb-1 {
	padding-bottom:20px;
	width:100%;
    }
    #no_table_File__row > td {
	width:100%;
	height: 30px;
    }
    .w2p_fl {
	width:50% !important;
	text-align:right;
	padding-right: 5px;
    }
    .w2p_fw {
	text-align:left;
	width:50% !important;
    }
    #submit_record__row {
	text-align:left;
	width:100%;
    }
    .btn {
      color: #fff;
      background-color: #120a8f;
      border-color: #120a8f;
    }
    .nav-btn {
	background-color: lightgrey;
	margin-right:10px;
    }
    .navbar-collapse {
	background-color:white;
    }

    .card {
	text-align:center;
	width:100px;
    }
}


/* 3rd: Desktop Version: */
@media only screen and (min-width: 768px) {
    html {
	overflow-y: scroll;
    }

    body {background-color:#ffffff; color: #404040; font-size: 14px}

    h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i { font-family:Arial,sans-serif; }
    
    .navbar {
	width:800px;
	margin: auto;
	padding-bottom:60px;
    }

    .bg-primary {
	background-color:white!important;
	position:fixed!important;
	margin-bottom:0;
    }
    
    .show-mobile {
	display:none;
    }

    .hide-mobile {
	display:block;
    }    

    .textblock {
	margin-right:50%;
	max-width:100%;
    }

    .textblockleft {
	margin:0;
	flex-basis:50%;
	max-width:100%;
    }
    
    .nav-container {
	padding-bottom:10px;
    }
    .navbar-brand {
	display:block;
    }
    .jumbotron {
	padding-top:130px;
	background-color:#fafafa;
    }

    h1 { font-size:30px; margin-bottom:26px; text-align:center;}

    h2 { font-size:21px; margin-bottom:18px; }

    h3 { font-size:18px; }

    h4 { font-size:14px; }

    p {color: #202020; font-size:14px; "Arial,Helvetica";  text-align:justify; margin-left:10px; line-height:2;}

    ol {color: #202020; font-size:14px; "Arial,Helvetica";  text-align:justify; margin-left:10px; line-height:2;}

    .sb {
	width:80px;
    }

    .example_box {
	bgcolor:grey;
	border-style:solid;
	border-width:1px;
	background: #E2E2E2;
	padding:30px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
	max-height: 340px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
    }
    .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
    }
    .bg-3 {
    padding-top: 50px;
    padding-bottom: 20px;
    }
    .bg-4 {
	background-color: #E2E2E2;
	padding-top: 50px;
	padding-bottom: 30px;
    }
    .inline_link {
	font-size:15px!important;
    }
    .dropdown {
	padding-top:15px;
    }
    ul_text {
	text-decoration:underline;
    }
    p.short {
	width:640px;
    }
    td, th {
	color: #404040;
	font-size:12px;
	"Arial,Helvetica";
    }
    ul,ol,li,div,address,blockquote {
	color: #404040;
	font-size:14px;
	"Arial,Helvetica";
    }

    table {
	color: #404040;
	font-face: "Arial,Helvetica";
	font-size: 14px
    }
    td {
	color: #000000;
	font-face: "Arial,Helvetica";
	font-size: 12px
    }
    ol {
	list-style-type:circle;
    }
    ul {
	list-style-type:circle;
    }
    li {
	margin-top:3px;
    }
    pre {
	font-family:Courier New,Courier;
	font-size:14px;
	color:#000000;
    }
    code,kbd,tt {
	font-family:Courier New,Courier;
	color:#000000;
    }
    var {
	font-style:normal;
	color:#000000;
    }
    blockquote,cite {
	font-style:italic;
    }
    a {
	text-decoration:none;
	color:#ff4400;
    }
    ins {
	color:#009900;
	font-weight:bold;
	text-decoration:none;
    }
    del {
	color:#990000;
	font-weight:bold;
	text-decoration:line-through;
    }
    .jumbotron > img {
	width:20%;
	padding-bottom:20px;
    }
    .mr-auto > li {
	padding-left: 20px;
    }
    .textblock p {
	text-align:left;
	font-size: 16px;
	line-height:1.8;
	padding-bottom:15px;
	width:100%;
    }
    .textblockleft p {
	text-align:left;
	font-size: 16px;
	line-height:1.8;
	padding-bottom:15px;
	width:100%;
    }
    .textblock > p > a {
	text-align:center;
	font-size: 20px;
	line-height:1.8;
	padding-bottom:15px;
	color: #ff4400;
    }
    article > h2 {
	text-align:center;
    }
    article > p {
	text-align:left;
	width:100%;
    }
    article {
	padding-bottom:50px;
    }
    .mb-1 {
	padding-bottom:20px;
	width:100%;
    }
    #no_table_File__row > td {
	width:100%;
	height: 30px;
    }
    #no_table_File {
	padding-bottom:15px;
    }
    .w2p_fl {
	width:50% !important;
	text-align:right;
	padding-right: 5px;
    }
    .w2p_fw {
	text-align:left;
	width:50% !important;
    }
    #submit_record__row {
	text-align:left;
	width:100%;
    }
    .btn {
      color: #fff;
      background-color: #120a8f;
      border-color: #120a8f;
    }

    .card {
	text-align:center;
	width:100px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
	border-radius: 0;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
	padding-right: 0;
	padding-left: 0;
    }
}


